<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<h2>Import Feeds</h2>
<%= form_for [current_user, @feed], multipart: true do |f| %>
  <%= f.file_field :file, multiple: true %>
  <%= f.submit "Add Feed" %>
<% end %>

<%= will_paginate @feeds %>
 <table>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Products</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  <% @feeds.each do |feed| %>
     <tr>
       <td><%= feed.id %></td>
       <td><%= feed.basename %></td>
       <td><%= "Products" %></td>
       <td><%= "Delete feed" %></td>
     </tr>
  <% end %>
  </tbody>
 </table>
<%= will_paginate @feeds %>
