<h3>Import Feeds</h3>
<%= form_for [current_user, @feed], multipart: true do |f| %>
  <%= f.file_field :file, multiple: true %>
  <%= f.submit "Import Feed", class: "btn btn-primary btn-sm" %>
<% end %>

<%= will_paginate @feeds %>
<div class="table-responsive">
 <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Products</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  <% @feeds.each do |feed| %>
     <tr>
       <td><%= feed.id %></td>
       <td><%= feed.basename %></td>
       <td><%= link_to "Products", user_feed_products_path(current_user, feed) %></td>
       <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span><%= "Delete feed" %></td>
     </tr>
  <% end %>
  </tbody>
 </table>
</div>
<%= will_paginate @feeds %>
