<h1>Products</h1>
<%= will_paginate @products %>
<div class="table-responsive">
 <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>URL</th>
      <th>Price</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
     <tr>
       <td><%= "photo" %></td>
       <td><%= link_to product.title, user_feed_product_path(current_user, @feed, product) %></td>
       <td><%= link_to product.url, product.url %></td>
       <td><%= "$#{product.price}" %></td>
       <td><%= "Update Product" %></td>
       <td><%= "Delete Product" %></td>
     </tr>
  <% end %>
  </tbody>
 </table>
</div>
<%= will_paginate @products %>
